@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Merriweather', serif;
  list-style: none; }

/* EXTEND */
.pie {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; }

.cabecera, .pie {
  background-color: #bdb7b1;
  background-color: #a79c92; }

/* HEADER */
.cabecera {
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdb7b1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  color: #000; }
  .cabecera .navbar-nav {
    font-size: 20px; }
    .cabecera .navbar-nav .nav-item a {
      box-shadow: 4px 4px 15px 0 #000;
      border-radius: 16px;
      background-color: #b3a79d;
      margin: 10px; }
    .cabecera .navbar-nav .nav-item:hover {
      transform: scale(1.1); }
  .cabecera .logo {
    width: 200px; }
  .cabecera .logo:hover {
    transform: scale(1.1); }

/* INDEX */
.principal__titulo {
  font-size: 100px; }

.principal__subitulo h2 {
  font-size: 36px; }

.principal__texto {
  color: whitesmoke;
  font-size: 24px; }

.principal__envio {
  margin-bottom: 100px; }

.contenido-back {
  background-image: url(../imagenes/fondo-pagina.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: repeat; }

.contenido {
  background-color: #d6d2c4; }

@media only screen and (max-width: 768px) {
  .logo img {
    width: 100%; }
  .principal__subtitulo {
    font-size: 24px; }
  .principal__texto {
    font-size: 20px; }
  .principal__titulo {
    font-size: 60px;
    padding-top: 0px; }
  .envio img {
    padding-bottom: 80px;
    width: 40px;
    height: 40px; } }

.texto {
  font-size: 20px;
  text-justify: auto;
  color: #000; }

.texto h1 {
  font-size: 100px; }

/* QUIENES SOMOS */
.contacto__slogan {
  font-size: 24px; }

.contacto__segundo__slogan {
  font-size: 20px; }

@media only screen and (max-width: 768px) {
  .texto h1 {
    font-size: 60px; }
  .texto p {
    font-size: 20px; }
  .slogan {
    font-size: 20px; }
  .segundo__slogan {
    font-size: 20px;
    padding-bottom: 80px; } }

/* GALERIA */
.imagen__img {
  height: 450px;
  border-radius: 15px;
  object-fit: cover;
  width: 100%; }

.galeria {
  padding: 25px;
  margin-bottom: 50px; }

.galeria img:hover {
  border: 5px solid #f7f7f7; }

/* PRODUCTOS */
.productos__titulo h2 {
  font-size: 60px;
  padding-bottom: 0%; }

.productos__lista {
  font-size: 20px;
  margin-top: 0px; }

.slogan {
  font-size: 24px; }

.segundo__slogan {
  font-size: 24px;
  overflow: hidden; }

.direccion__item:hover {
  transform: scale(1.2); }

@media only screen and (max-width: 768px) {
  .productos__titulo h2 {
    font-size: 42px; }
  .segundo__slogan {
    font-size: 16px; }
  .slogan {
    font-size: 16px; }
  .productos__lista {
    font-size: 16px; } }

/* CONTACTO */
.contacto__formulario {
  font-size: 20px; }

.contacto__slogan {
  font-size: 24px; }

.contacto__segundo__slogan {
  font-size: 24px; }

.contacto__direccion__item {
  color: #000; }

@media only screen and (max-width: 768px) {
  .contacto__segundo__slogan {
    padding-bottom: 60px;
    font-size: 16px; }
  .contacto__slogan {
    font-size: 16px;
    margin-bottom: 0px; }
  .contacto__slogan h2 {
    font-size: 16px; }
  .formulario_form {
    font-size: 16px;
    top: 0px; } }

/* FOOTER */
.pie {
  color: #000;
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdb7b1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.85; }
  .pie__lista li {
    display: inline-block;
    align-items: center;
    padding: 10px; }
  .pie .pie__lista__item:hover {
    transform: scale(1.2); }
