@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Merriweather', serif;
  list-style: none; }

.cabecera {
  width: 100%;
  background-color: #bdb7b1;
  background-color: #a79c92;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdb7b1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.85;
  color: #000; }
  .cabecera .navbar-nav {
    font-size: 20px; }
    .cabecera .navbar-nav .nav-item a {
      box-shadow: 4px 4px 15px 0 #000;
      border-radius: 16px;
      background-color: #968C83;
      margin: 10px; }
    .cabecera .navbar-nav .nav-item:hover {
      transform: scale(1.1); }
  .cabecera .logo {
    width: 200px; }
    .cabecera .logo:hover {
      transform: scale(1.1); }
    .cabecera .logo img {
      width: 100%; }

.contacto {
  background-color: #D6D2C4; }
  .contacto__formulario {
    font-size: 20px; }
  .contacto__slogan {
    font-size: 42px; }
  .contacto__segundo__slogan {
    font-size: 20px; }
  .contacto__direccion__item {
    color: #000; }

.contenido {
  background-color: #D6D2C4; }

.pie {
  color: #000;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  bottom: 0%;
  background-color: #000;
  background-color: #a79c92;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdb7b1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.85; }
  .pie__lista li {
    display: inline-block;
    padding: 10px;
    align-items: center; }
  .pie__item:hover {
    transform: scale(1.2); }
