/* CONTACTO */
.contacto{    
    &__formulario{
    font-size: map-get($tamanio-tipografia, principal);}

    &__slogan{
        font-size: map-get($tamanio-tipografia, slogan);
    }
    &__segundo__slogan{
        font-size: map-get($tamanio-tipografia, slogan);
    }
    &__direccion__item{
        color: $color-pricipal;
    }
}    

@media only screen and (max-width: 768px){ 
    .contacto__segundo__slogan{
        padding-bottom: 60px;
        font-size: 16px;
    }
    .contacto__slogan{
        font-size: 20px;
    }
}