
/* INDEX */
.principal{
    &__titulo{
        font-size:map-get($tamanio-tipografia, titulo);
    }
    &__subitulo h2{
        font-size:map-get($tamanio-tipografia, subtitulo-index);
    }
    &__texto{
        color: whitesmoke;
        font-size:map-get($tamanio-tipografia, slogan);
    }
    &__envio{
        margin-bottom: 100px;
    }
}

.contenido-back{
    background-image:url(https://p4.wallpaperbetter.com/wallpaper/678/144/44/cigar-4k-desktop-hd-download-wallpaper-preview.jpg);
    width: $tamanio-total;
    background-size:cover;
    background-repeat:repeat;
}
.contenido{
    background-color: $background-contenido;
}
@media only screen and (max-width: 768px){   
    .logo img{
        width: 100%;
    }
    .principal__subtitulo{
       font-size:  map-get($tamanio-tipografia , slogan);
    }
   .principal__texto{
        font-size: map-get($tamanio-tipografia , principal);
    }
    .principal__titulo{
        font-size: map-get($tamanio-tipografia , titulo2);
        padding-top: 0px;
    }
    .envio img{
        padding-bottom: 80px;
        width: 40px;
        height: 40px;
    }
}    