/* PRODUCTOS */
.productos__titulo h2{
    font-size: map-get($tamanio-tipografia, titulo2);
}
.productos__lista{
    font-size: map-get($tamanio-tipografia, principal);
    margin-top: 0px;
}
.slogan{
    font-size: map-get($tamanio-tipografia, slogan);
}
.segundo__slogan{
    font-size: map-get($tamanio-tipografia, slogan);
    padding-bottom: 80px;
}
.direccion__item:hover{
    transform: scale(1.2);
}

