/* PRODUCTOS */
.productos__titulo h2{
    font-size: map-get($tamanio-tipografia, titulo2);
    padding-bottom: 0%;
}
.productos__lista{
    font-size: map-get($tamanio-tipografia, principal);
    margin-top: 0px;
}
.slogan{
    font-size: map-get($tamanio-tipografia, slogan);
}
.segundo__slogan{
    font-size: map-get($tamanio-tipografia, slogan);
    overflow: hidden;
}
.direccion__item:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 768px){ 
    .productos__titulo h2{
        font-size: map-get($tamanio-tipografia, subtitulo );
    }
    .segundo__slogan{
        font-size: map-get($tamanio-tipografia , fuente-responsive);
    }
    .slogan{
        font-size: map-get($tamanio-tipografia , fuente-responsive);
    }
    .productos__lista{
        font-size: map-get($tamanio-tipografia, fuente-responsive);}
}