$color-pricipal: #000;
$background-contenido: #d6d2c4;
$tamanio-total: 100%;

$tamanio-tipografia:(
    principal: 20px,
    titulo: 100px,
    titulo2: 60px,
    subtitulo-index: 36px,
    subtitulo: 42px,
    slogan: 24px,
    titulo-responsive: 42px,
    fuente-responsive: 16px,
    );

/* EXTEND */
%grid-extend{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

%background-extend{
    background-color: #bdb7b1;
    background-color: #a79c92;
}

@mixin footer-list ($display, $align) {
    display: $display;
    align-items: $align;    
}


